*{ margin: 0; padding: 0; box-sizing: border-box;}

body{ background-color: #ededed;}

h1{ text-align: center; color: teal;}

input{ display: none;}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.vignette{
    margin: 0.5rem;
    width: 20vw;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition:  0.5s;
    cursor: zoom-in;
    align-self: center;
    border: solid 5px teal;
}

.fullscreen{
    position: relative;
    margin:0;
    width: 100%;
    order:-1;
    z-index: 2;
    cursor: zoom-out;
}

.add, .telecharger{
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}

.add{
    bottom: .6rem;  
    right: .7rem;
}

.telecharger{
    top: 3rem;
    right: 0.5rem;
    transform: translateX(0);
    z-index: 3;
}

.add .material-icons{
    font-size: 3rem;
    color: orangered;
}

.telecharger .material-icons{
    color: royalblue;
    font-size: 3rem;
}

.add:active, .telecharger:active{
    transform: rotate(360deg);
}

.hidden{
    transform: translateX(200%);
}

.divOverlay{
    display: none;
}

.overlay{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: teal;
    opacity: 0.5;
    z-index: 1;
}